<div class="row">
  <div class="col-xs-8 col-md-8">
    <% obj.each do |workout|  %>
      <h3><%= link_to workout.name, workout %></h3>
      <h4><%= workout.skillset.name  %></h4>
      <h4><%= "#{ workout.points } points" %></h4>
    <% end %>
  </div>
  <div class="col-xs-4 col-md-4">
    <h3><%= render 'workouts/points' %></h3>
  </div>
</div>